if SHIELD_CHEWY_LEFT
    config SPI
        default y
    config ZMK_POINTING
        default y
endif

if SHIELD_CHEWY_DONGLE
    config ZMK_SPLIT_ROLE_CENTRAL
        default y
    config ZMK_POINTING
        default y
endif
